//variables

$deepBlue: #032f3e;
$red: #B61B1B; 
$offWhite: #f8f9fb;

$sectionHeading: 24px;

#main-nav{
    background: $deepBlue;
    // same as #main-nav ul
    ul{
        width: 100%;
    }
    li{
        float: left;
        width: 14%;
    }
    a{
        color: $offWhite;
        text-decoration: none;
        padding: 16px;
        display: block;
        text-align: center; 
    }  
}// end #main-nav

#main-nav ul::after{
    content: ""; // it will insert content at the and of ul!
    display: block;
    clear: both; //it will clear all li tags, that come before it!
}

section h1{
    font-size: $sectionHeading;
    color: $red;
}